body{
  font-size: 16px
  color: #fff;
  background-color: #57724E;
  font-family: 'Dancing Script', cursive;
}
/**header**/
#header-nav{
  background-color: #6B8662;
  border-radius: 0;
  border: 0;
  padding-bottom: 35px;
}

.navbar-brand{
  padding-top: 25px;
  text-align: right;
}

.navbar-brand p span {
  vertical-align: middle;
  text-shadow: 1px 1px 1px #222;
}

.navbar-brand h1{
  text-align: right;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

}
.navbar-brand p span{
  margin-top: 10px
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: green;
  text-align: center;
}
#nav-list a:hover {
  background: white;
}
#nav-list a span {
  font-size: 1.8em;
}

h2{
  text-align: center;
}
#menu-Chiken{
  background-color: #FFFFCC;
  width: 100%;
   height: auto;
   border: 2px solid #3F0C1F;
margin-bottom: 10px;

}
#menu-Beef{
  background-color: #FFFFCC;
  width: 100%;
  border: 2px solid #3F0C1F;
  margin-bottom: 10px;
}
#menu-Sushi{
  background-color: #FFFFCC;
  width: 100%;
  border: 2px solid #3F0C1F;
  margin-bottom: 10px;
}

.bi-arrow-bar-up {
  background-color: white;
  color: black;
  margin-right: 15px;
  float: right;
}

/**large**/
@media (min-width: 1200px) {
  

  }
}
/**medium**/
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/**small**/

@media (max-width: 767px) {
  
  
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

   #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

}
